@import '@styles/variables';

header {
	display: flex;
	justify-content: center;
	width: 100vw;
	padding: 60px 0;
	position: fixed;
	transition: all 0.3s ease;
	z-index: 2;

	.content {
		display: flex;
		justify-content: space-between;
		width: 1270px;

		h1 {
			font-size: 40px;
			color: $text-white;

			> span {
				color: $btn-orange;
			}
		}

		nav {
			display: flex;
			font-size: 17px;
			font-weight: 400;
			gap: 30px;
		}
	}

	&.scrolled {
		width: 100vw;
		position: fixed;
		padding: 15px 0;
		background-color: $bg-black;
	}
}
