@import '@styles/variables';
@import '@styles/animations';

.button {
	padding: 10px 30px;
	border: 2px solid $btn-orange;
	border-radius: 500px;
	color: $text-white;
	cursor: pointer;
	background: $btnAnimation;
	background-size: 200% 100%;
	background-position: left;
	transition: $btnColorTransition;
	font-size: 16px;
	letter-spacing: 0.3px;
}
.button:hover {
	background-position: right;
	border-color: $text-white;
}
