@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$bg-darkblue: #1a1c20;
$bg-black: #111111;
$btn-orange: #ff4d00;
$text-white: #e5e5e5;
$description-gray: #9ba0ac;
$alert-red: #e03737;

$default-font: 'Roboto', sans-serif;

$shadow-BW:
	-5px -5px 15px rgba(0, 0, 0, 0.6),
	5px 5px 5px rgba(197, 197, 197, 0.1);
