@import '@styles/variables';

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 700px;
	width: 380px;
	border-radius: 20px;

	.imgWrapper {
		height: 561px;
		justify-content: center;
		align-items: end;
		display: flex;
		position: relative;
		overflow: hidden;
		border-radius: 20px;
		box-shadow: $shadow-BW;

		.trainerPhoto {
			background-size: cover;
			background-repeat: no-repeat;
			box-shadow: $shadow-BW;
			border-radius: 20px;
		}

		.socialMediaLinks {
			width: 160px;
			height: 40px;
			padding: 0 15px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			background-color: $bg-darkblue;
			position: absolute;
			opacity: 0;
			border-radius: 20px 20px 0 0;
			transform: translateY(30px);
			transition:
				opacity 0.5s ease,
				transform 0.5s ease;
		}

		.trainerPhoto:hover + .socialMediaLinks,
		.socialMediaLinks:hover {
			opacity: 1;
			transform: translateY(0);
		}
	}
	.info {
		display: flex;
		align-items: center;
		justify-content: end;
		flex-direction: column;
		height: 80px;

		> h1 {
			font-size: 26px;
		}
		> p {
			font-size: 16px;
			color: $btn-orange;
		}
	}
}
